 
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="~/content/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    @*<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>*@
    <style>
        body{
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif 
        }
       p {
               font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
               font-size:18px
       }
        #background{
  margin-top:-120px;
  background:url(/Image/indo.jpg) no-repeat;
  background-size:cover;
  padding-top:111px;
  height:495px;
  max-height:912px;
  width:100%;
}
        
#background .jumbotron{
  background:none;
  margin-left:137px;
  max-width:1000px;
  margin-top:22px;
}
hr.new5 {
  border: 5px solid dodgerblue;
  border-radius: 5px;
}
#home .isi .atas{
  background-color:#f9f8f8;
  margin-top:20px;
  padding-bottom:37px;
}
.bg-teal{background-color:#20c997!important}
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background:linear-gradient(to right, #0066ff 0%, #33cccc 100%);">

        <img src="/Image/logo.png" class="ml-2" alt="Avatar" width="40px">
        <a class="navbar-brand" href="/Home/Index" style="font-family: Verdana,sans-serif;color:white"><b>TopHoliday</b></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto mr-4">
                <li class="nav-item active ml-2">
                    <a class="nav-link" href="/Home/Index" style="font-family: Verdana,sans-serif;color:white"><b>Home</b> <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item ml-2">
                    <a class="nav-link" style="font-family: Verdana,sans-serif;color:white;font-weight:bold" href="/Home/Index?blog">Blog</a>
                </li>
                <li class="nav-item dropdown ml-2">
                    <a class="nav-link dropdown-toggle" style="cursor:pointer;font-family: Verdana,sans-serif;color:white;font-weight:bold" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        List
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/Webtravel/data2">Bali</a>
                        <a class="dropdown-item" href="/Webtravel/Medan">Medan</a>
                        <a class="dropdown-item" href="/Webtravel/Yogyakarta">Yogyakarta</a>
                        <a class="dropdown-item" href="/Webtravel/Mandalika">Mandalika</a>
                        <a class="dropdown-item" href="/Webtravel/LabuanBajo">Labuan Bajo</a>
                        <a class="dropdown-item" href="/Webtravel/Belitung">Belitung</a>
                        <a class="dropdown-item" href="/Webtravel/Sumba">Sumba</a>
                        <a class="dropdown-item" href="/Webtravel/RajaAmpat">Raja Ampat</a>
                        <div class="dropdown-divider"></div>
                        @*<a class="dropdown-item" href="#">Something else here</a>*@
                    </div>
                </li>
                <li class="nav-item ml-1">
                    <a class="nav-link" style="font-family: Verdana,sans-serif;color:white;font-weight:bold" href="/WebTravel/About">About</a>
                </li>
                <li class="nav-item ml-2">
                    <a class="nav-link" style="font-family: Verdana,sans-serif;color:white;font-weight:bold" href="/WebTravel/login">Login</a>
                </li>
                <li class="nav-item ml-2">
                    <a class="nav-link" style="font-family: Verdana,sans-serif;color:white;font-weight:bold" href="/WebTravel/register">Register</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>

    </nav>
    <div id="background">
        <div class="jumbotron">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <img src="/Image/logo.png" width="250px">
                    </div>
                    <div class="col-lg-8" style="margin-top:80px">
                        <h1 style="font-size:80px;color:white;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">ABOUT US</h1>
                    </div>
                </div>
            </div>
            </div>
        </div>
    <div class="container">
        <hr class="new5">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <p>Established in 2018 and managed by knowledgeable personnel in the industry, TopHoliday is both retail and online travel agent handling individual traveler and group types of travel with the distribution sales deriving mostly from websites and social media.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <p>TopHoliday also offers the most comprehensive thematic holiday packages created based on the customers' interests, such as: cruise, honeymoon, active, ski holiday, self-drive, Club Med, phototrip, etc. With range of accommodation starts from standard to luxury, we offer a wide selection of attractive packages available on our website and also customized packages based on the clients' requests.</p>
          
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <p>TopHoliday is connected and supported by National Tourism Organizations, Hotels and resorts, airlines and trusted travel suppliers. Our networking beyond the travel industries provides us interesting opportunities to create unique products and services for B2C clients.</p>
            </div>
        </div>
        <div class="row">
        </div>
    </div>
    <div id="home">
        <div class="isi">
            <div class="atas" style="padding-right: 155px;padding-left: 155px;border-bottom-style: double;border-top-style: groove;">
                <div class="container">
                    <br />
                    <h1>Our Business Model</h1>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <p class="text-justify">TopHoliday is a retail and online travel agent.</p>
                            <p class="text-justify">TopHoliday has been operating for almost a decade whereas a retail and online travel agent we face our challenges.</p>
                            <p>We keep innovating our business to better ourselves. However, satisfying the needs of our clients is our priority. In our daily Business to Customers practices, enhancing our performances to serve the clients better from their first call up to finishing their trips are our priority.</p>
                        </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 d-flex align-items-stretch" style="margin-top:-60px">
                                <div class="card bg-light">
                                    <div class="card-header border-bottom-0" style="background-color:dodgerblue">
                                        <h5><b style="color:black;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">Top Holiday</b></h5>
                                    </div>
                                    <div class="card-body pt-0" >
                                        <div class="row">
                                            <div class="col-7">
                                                <br />
                                                <p class="text-sm"><i class="fas fa-lg fa-envelope"></i> <b>Email</b>: Topholiday@gmail.com </p>
                                                <p class="text-sm"><i class="fas fa-lg fa-phone"></i> <b>Phone</b>: +62 853 6430 89 82</p>
                                                <p class="text-sm"><i class="fas fa-lg fa-building"></i> <b>Address</b>: Demo Street 123</p>
                                            </div>
                                            <div class="col-5 text-center">
                                                <img src="/Image/top.jpg" width="80%" style="margin-top:5px" alt="" class="img-circle img-fluid">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer" style="background-color:dodgerblue;">
                                        <div class="text-right">
                                            <a href="#" class="btn btn-sm bg-teal">
                                                <i class="fas fa-comments"></i>
                                            </a>
                                            <a href="#" class="btn btn-sm btn-warning">
                                                <i class="fas fa-phone"></i> Call
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
<script>
    var url = new URLSearchParams(window.location.search);
    var search1 = url.has('history');
</script>
